*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #FCECEC;
}


.header {
    display: flex;
    width: 100%;
    height: 125px;
    background: #F5D6D6;
    align-items: center;
    justify-content: space-between;
}

.header_cart {
    height: 40px;
    width: 40px;
}

.header_h1 {
    font-size: 2em;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    margin-left: 20px;
}

.header_cart__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card_btn__wraper {
    display: flex;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    width: 400px;
    border-radius: 5px;
    margin: 15px 20px 15px 0;
}

.card_count {
    font-family: 'Open Sans', sans-serif;
}

.img {
    width: 370px;
    height: 380px;
}


.card_tittle {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

.card_btn__add {
    display: flex;
    width: 370px;
    background-color: #FFC0CB;
    height: 30px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.card_btn__decrease, .card_btn__increase {
    display: flex;
    width: 180px;
    background-color: #FFC0CB;
    height: 30px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.card_btn_crease {
    display: none;
    justify-content: center;
    align-items: center;
}

.card_btn__decrease img, .card_btn__increase img{
    height: 20px;
    width: 20px;
}

.card_btn__decrease {
    margin-right: 5px;
}

.card_btn__add img {
    height: 20px;
    width: 20px;
}

@media (max-width: 767px) {
    .main {
        flex-direction: column;
    }
    .card {
        width: 300px;
    }
    .img {
        width: 300px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card_btn__add {
        width: 280px;
    }
    .card_btn__decrease, .card_btn__increase {
        width: 135px;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.cart_tittle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.modal-content {
    font-family: 'Open Sans', sans-serif;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80vw;
    height: 60vh;
    background-color: #e3dbdb;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#orderButton {
    margin-top: 20px;
    border: 2px solid #FFDAB9;
    padding: 7px 5px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#orderButton:hover {
    background-color: #F5D6D6;
}

#cleanCart {
    display: none;
    position: relative;
    right: 1px;
    top: 38px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@keyframes openNotification{
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes closeNotification{
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.notification_wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    animation: 0.5s ease openNotification, 0.5s 1.65s ease closeNotification;
    background-color: rgba(0, 0, 0, 0.4);
}

.notification {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    height: 40vh;
    width: 90vw;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #FFDAB9;
    background-color: #fde2d1;
}

#nameClient {
    margin-top: 15px;
    font-size: 18px;
}